In [1]:
import pandas as pd

# Sp√©cifiez le nom du fichier CSV
AnnuaireSegmente = "path2project/Annuaire/Annuaire_INSEE.xlsm"
               
# Utilisez la fonction read_excel() pour importer toutes les feuilles du fichier CSV
df = pd.read_excel(AnnuaireSegmente, sheet_name='EtablissementsModifies')

In [2]:
df.shape

(15584, 49)

In [3]:
df

,denominationUniteLegale,sigleUniteLegale,denominationUsuelle1UniteLegale,denominationUsuelle2UniteLegale,denominationUsuelle3UniteLegale,denominationUsuelleEtablissement,sigleUniteLegale2,enseigne1Etablissement,enseigne2Etablissement,enseigne3Etablissement,...,libelleVoie2Etablissement,codePostal2Etablissement,libelleCommune2Etablissement,libelleCommuneEtranger2Etablissement,distributionSpeciale2Etablissement,codeCommune2Etablissement,codeCedex2Etablissement,libelleCedex2Etablissement,codePaysEtranger2Etablissement,libellePaysEtranger2Etablissement
0,APRR,SAPRR,NaN,NaN,NaN,NaN,SAPRR,NaN,NaN,NaN,...,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
1,HAIER FRANCE,NaN,GROUPE CANDY HOOVER,NaN,NaN,HAIER FRANCE,NaN,NaN,NaN,NaN,...,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
2,BOLLORE SE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
3,SNEF,NaN,NaN,NaN,NaN,SNEF,NaN,SNEF E-TCR,NaN,NaN,...,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
4,SNEF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15579,ELIDIS BOISSONS SERVICES,NaN,SCOTTISH ET NEWCASTLE FRANCE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
15580,ADECCO FRANCE,NaN,NaN,NaN,NaN,ADECCO FRANCE,NaN,ADECCO,NaN,NaN,...,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
15581,ADECCO FRANCE,NaN,NaN,NaN,NaN,ADECCO FRANCE,NaN,ADECCO,NaN,NaN,...,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
15582,STEF,NaN,STEF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
15583,MINHAL FRANCE SA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN

In [4]:
#drop each column for which all values are Nan
df.dropna(axis=1, how='all', inplace=True)

In [5]:
#print first line
[[colname, value] for colname, value in zip(df.columns, df.iloc[0])]

[['denominationUniteLegale', 'APRR'],
 ['sigleUniteLegale', 'SAPRR'],
 ['denominationUsuelle1UniteLegale', nan],
 ['denominationUsuelle2UniteLegale', nan],
 ['denominationUsuelle3UniteLegale', nan],
 ['denominationUsuelleEtablissement', nan],
 ['sigleUniteLegale2', 'SAPRR'],
 ['enseigne1Etablissement', nan],
 ['enseigne2Etablissement', nan],
 ['enseigne3Etablissement', nan],
 ['trancheEffectifsEtablissement', '50 √† 99 salari√©s'],
 ['activitePrincipaleUniteLegale sous-classe',
  'Services auxiliaires des transports terrestres'],
 ['activitePrincipaleUniteLegale classe',
  'Services auxiliaires des transports terrestres'],
 ['activitePrincipaleUniteLegale groupe',
  'Services auxiliaires des transports terrestres'],
 ['activitePrincipaleUniteLegale division',
  'Entreposage et services auxiliaires des transports'],
 ['activitePrincipaleUniteLegale section', 'Transports et entreposage'],
 ['etablissementSiege', False],
 ['activitePrincipaleEtablissement sous-classe',
  'Services auxiliaires des transports terrestres'],
 ['activitePrincipaleEtablissement classe ',
  'Services auxiliaires des transports terrestres'],
 ['activitePrincipaleEtablissement groupe ',
  'Services auxiliaires des transports'],
 ['activitePrincipaleEtablissement division',
  'Entreposage et services auxiliaires des transports'],
 ['activitePrincipaleEtablissement section', 'Transports et entreposage'],
 ['complementAdresseEtablissement', 'DISTRICT NEMOURS'],
 ['numeroVoieEtablissement', 0],
 ['indiceRepetitionEtablissement', nan],
 ['typeVoieEtablissement', nan],
 ['libelleVoieEtablissement', 'AUTOROUTE DU SOLEIL A6'],
 ['codePostalEtablissement', 77140],
 ['libelleCommuneEtablissement', 'NEMOURS'],
 ['distributionSpecialeEtablissement', nan],
 ['codeCommuneEtablissement', 77333],
 ['codeCedexEtablissement', 0],
 ['libelleCedexEtablissement', nan],
 ['complementAdresse2Etablissement', nan],
 ['numeroVoie2Etablissement', 0],
 ['indiceRepetition2Etablissement', nan],
 ['typeVoie2Etablissement', nan],
 ['libelleVoie2Etablissement', nan],
 ['codePostal2Etablissement', 0],
 ['libelleCommune2Etablissement', nan],
 ['distributionSpeciale2Etablissement', nan],
 ['codeCommune2Etablissement', 0],
 ['codeCedex2Etablissement', nan],
 ['libelleCedex2Etablissement', nan]]

In [6]:
df.shape

(15584, 44)

In [7]:
#save data to modify 
dh = df

In [8]:
#Filtres
DenominationUniteLegale = ['PUBLIC', 'PUBLIQUE', 'NATIONAL', 'NATIONALE']
ActivitePrincipaleUniteLegaleSousClasse = ['Nettoyage', 'consulaires']
ActivitePrincipaleUniteLegaleSection = ['Agriculture', 'Administration', 'Enseignement']

In [9]:
for i in DenominationUniteLegale:
    dh = dh[~(dh['denominationUniteLegale'].str.contains(i,case=False, na=False, regex=True))]

dh.shape

(14889, 44)

In [12]:
for i in ActivitePrincipaleUniteLegaleSousClasse:
    dh = dh[~(dh['activitePrincipaleUniteLegale sous-classe'].str.contains(i, case=False, na=False, regex=True))]

dh.shape

(11402, 44)

In [13]:
for i in ActivitePrincipaleUniteLegaleSection:
    dh = dh[~(dh['activitePrincipaleUniteLegale section'].str.contains(i,case=False, na=False, regex=True))]

dh.shape

(11402, 44)

In [15]:
dh.to_csv('path2project/Annuaire/AnnuaireFiltre.csv', index=False, encoding='ANSI')

In [ ]:
#creation of segmented Anuaire_Insee 
# 500 et plus collaborateurs', '100 √† 499 collaborateurs', '50 √† 99 collaborateurs

Seg1 = dh[dh['trancheEffectifsEtablissement'].str.contains('50 √† 99 salari√©s')]
Seg1.to_csv('path2project/Annuaire/AnnuaireSegmente/50 √† 99 salari√©s.csv', index=False, encoding='ANSI')

In [ ]:
tranche1 = dh[dh['trancheEffectifsEtablissement'].str.contains('100 √† 199 salari√©s')]

tranche2 = dh[dh['trancheEffectifsEtablissement'].str.contains('200 √† 249 salari√©s')]

tranche3 = dh[dh['trancheEffectifsEtablissement'].str.contains('250 √† 499 salari√©s')]

Seg2 = pd.concat([tranche1, tranche2, tranche3], axis=0)

Seg2.to_csv('path2project/Annuaire/AnnuaireSegmente/100 √† 499 collaborateurs.csv', index=False, encoding='ANSI')

In [ ]:
tranche1 = dh[dh['trancheEffectifsEtablissement'].str.contains('10 000 salari√©s et plus')]

tranche2 = dh[dh['trancheEffectifsEtablissement'].str.contains('1000 √† 999 salari√©s')]

tranche3 = dh[dh['trancheEffectifsEtablissement'].str.contains('2000 √† 4999 salari√©s')]

tranche4 = dh[dh['trancheEffectifsEtablissement'].str.contains('500 √† 499 salari√©s')]

tranche5 = dh[dh['trancheEffectifsEtablissement'].str.contains('5000 √† 9999 salari√©s')]

Seg3 = pd.concat([tranche1, tranche2, tranche3, tranche4, tranche5], axis=0)

Seg3.to_csv('path2project/Annuaire/AnnuaireSegmente/500 collaborateurs et plus.csv', index=False, encoding='ANSI')

In [ ]:
#print first line
[[idx, colname, value] for idx, (colname, value) in enumerate(zip(df.columns, dh.iloc[0]))]

In [ ]:
dh['activitePrincipaleUniteLegale section'].unique()